<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SirketServisSoap" />
                <binding name="ArabaServisSoap" />
                <binding name="KullaniciServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52257/SirketServis.asmx" binding="basicHttpBinding" bindingConfiguration="SirketServisSoap" contract="SirketServis.SirketServisSoap" name="SirketServisSoap" />
            <endpoint address="http://localhost:52257/ArabaServis.asmx" binding="basicHttpBinding" bindingConfiguration="ArabaServisSoap" contract="ArabaServis.ArabaServisSoap" name="ArabaServisSoap" />
            <endpoint address="http://localhost:52257/KullaniciServis.asmx" binding="basicHttpBinding" bindingConfiguration="KullaniciServisSoap" contract="KullaniciServis.KullaniciServisSoap" name="KullaniciServisSoap" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>